<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1NqMeyJUC93XKuL_69hcAjmhrIyKH6yhW"><button
                        class="btn btn-default" style="background-color: orange;">MATHS 1</button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/https://drive.google.com/uc?export=download&id=1sCecD5-g0OGs2s9n8mLmOGg-AhGPrwnN"><button
                        class="btn btn-default" style="background-color: orange;">CHEMISTERY</button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1Zcv9kHXqFf_3sQnyDIVBmGBM0G-W5gNx"><button
                        class="btn btn-default" style="background-color: orange;">ENGLISH</button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=18bnpSjL0G_eSOfMypgsXvtA5NGB14VV9"><button
                        class="btn btn-default" style="background-color: orange;">C-LANG</button></a>
            </div>
        </div>

        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="/index"><button
                        class="btn btn-default" style="background-color: orange;">HOME</button></a>
            </div>
        </div>
      

    </div>
</body>

</html>