<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1OGRAbfMceSSdcH_4x_ZRzAF5TfYf-xP_"><button
                        class="btn btn-default" style="background-color: orange;">MATHS 2</button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1LvlXFjq8UAr64zGrN6RmXjI8fu2Y51Sg"><button
                        class="btn btn-default" style="background-color: orange;">PHYSICS</button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1OVDv7RfLjlCLTkt6PMm1tjeAjSh6wzvW"><button
                        class="btn btn-default" style="background-color: orange;">DLD</button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1-jbszzNjihKbSXIOpXde4V5tqEWespOu"><button
                        class="btn btn-default" style="background-color: orange;">DATA STRUCTURES</button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1hK8qVNBvJs4Aj1G8eCsaJh5Ntheavq52"><button
                        class="btn btn-default" style="background-color: orange;">PYTHON</button></a>
            </div>
        </div>

        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="/index"><button
                        class="btn btn-default" style="background-color: orange;">HOME</button></a>
            </div>
        </div>
      

    </div>
</body>

</html>