<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1CWJOK8YMPlWmn96ocZ3A71JYo6uuQ7SV"><button
                        class="btn btn-default" style="background-color: orange;">MATHS 3</button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1ykVVUISLjum_tE06RHWEoytP7T-gyg4o"><button
                        class="btn btn-default" style="background-color: orange;">   FDS   </button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1ykVVUISLjum_tE06RHWEoytP7T-gyg4o"><button
                        class="btn btn-default" style="background-color: orange;">JAVA</button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1ykVVUISLjum_tE06RHWEoytP7T-gyg4o"><button
                        class="btn btn-default" style="background-color: orange;">DBMS</button></a>
            </div>
        </div>
        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="https://drive.google.com/uc?export=download&id=1ykVVUISLjum_tE06RHWEoytP7T-gyg4o"><button
                        class="btn btn-default" style="background-color: orange;">MFCS</button></a>
            </div>
        </div>

        <div class="row" style="padding: 2%;">
            <div class="col text-center">
                <a href="/index"><button
                        class="btn btn-default" style="background-color: orange;">HOME</button></a>
            </div>
        </div>

        
      

    </div>
</body>

</html>